.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .directory {
    width: 100%;
    max-width: 600px; 
  }
  
  .post-list {
    list-style: none;
    padding: 0;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 10px;
    margin: 5px;
    padding: 10px 10px;
    background-color: gainsboro;
  }
  
  .username {
    font-weight: bold;
  }
  
  .posts {
    margin-left: auto; 
    font-weight: bold;
    text-decoration: none;
  
  }
  